@page "/generos/crear"

<h3>CrearGenero</h3>

<FormularioGenero OnValidSubmit="Crear" Genero="Genero" />


@code {

    private Genero Genero = new Genero();

    private void Crear()
    {
        Console.WriteLine("Ejecutando el método crear");
        Console.WriteLine($"Nombre del género: {Genero.Nombre}");
    }
}
