@page "/generos/crear"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensajes

<h3>Crear Género</h3>

<FormularioGenero OnValidSubmit="Crear" Genero="Genero" />


@code {

    private Genero Genero = new Genero();

    private async Task Crear()
    {
        var httpResponse = await repository.Post("api/generos", Genero);
        if (httpResponse.Error)
        {
            var body = await httpResponse.GetBody();
            await mostrarMensajes.MostrarMensajeError(body);
        }
        else
        {
            navigationManager.NavigateTo("/generos");
        }
    }
}
