@page "/generos/editar/{GeneroId:int}"
@inject IRepository repository
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager

<h3>Editar Género</h3>

@if (Genero == null)
{
    <textarea>Cargando...</textarea>
}
else
{
    <FormularioGenero OnValidSubmit="Editar" Genero="Genero" />
}


@code {
    [Parameter] public int GeneroId { get; set; }
    private Genero Genero;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await repository.Get<Genero>($"api/generos/{GeneroId}");
        if (httpResponse.Error)
        {
            if (httpResponse.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("generos");
            }
            else
            {
                await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
            }
        }
        else
        {
            Genero = httpResponse.Response;
        }

    }

    private async Task Editar()
    {
        var httpResponse = await repository.Put("api/generos", Genero);
        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("generos");
        }
    }
}
