@page "/peliculas/crear"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject IMostrarMensajes mostrarMensajes
<h3>Crear Pelicula</h3>

@if (MostrarFormulario)
{
    <FormularioPeliculas Pelicula="Pelicula" OnValidSubmit="Crear"
                         GenerosNoSeleccionados="GenerosNoSeleccionados"></FormularioPeliculas>
}
else
{
    <text>Cargando...</text>
}



@code {
    public bool MostrarFormulario { get; set; } = false;
    private Pelicula Pelicula = new Pelicula();
    public List<Genero> GenerosNoSeleccionados = new List<Genero>();

    protected async override Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<List<Genero>>("api/generos");
        GenerosNoSeleccionados = responseHTTP.Response;
        MostrarFormulario = true;
    }

    async Task Crear()
    {
        var httpResponse = await repository.Post<Pelicula, int>("api/peliculas", Pelicula);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetBody();
            await mostrarMensajes.MostrarMensajeError(mensajeError);
        }
        else
        {
            var PeliculaId = httpResponse.Response;
            navigationManager.NavigateTo($"/pelicula/{PeliculaId}/{Pelicula.Titulo.Replace(" ", "-")}");
        }
    }
}
