@page "/pelicula/{PeliculaId:int}"
@page "/pelicula/{PeliculaId:int}/{NombrePelicula}"
@inject IRepository repository

<h3>VisualizarPelicula</h3>

@code {
    [Parameter] public int PeliculaId { get; set; }
    [Parameter] public string NombrePelicula { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<PeliculaVizualizarDTO>($"api/peliculas/{PeliculaId}");
        Console.WriteLine($"El id de la pelicula es {PeliculaId}");
    }
}
